/*smooth scroll*/
html{
    scroll-behavior: smooth;
}
/*tipo de fuente y color*/
body{
    font-family: 'Cabin', sans-serif;
    color: white;
    background-color: black;
}
/*margen barra de navegación*/
.cont,.navbar{
    margin-left: calc(9.896vw - 0.4167rem);
    margin-right: calc(9.896vw - 0.4167rem);  
}
/*tamaño logo barra de navegación*/
#logo-nav{
    max-width: 20px;
}
/*estilo generales de tarjetas*/
.card{
    min-width:  200px;
}
.card-title{
    font-size: 17.5px;
}
.card-body{
    background-color: black;
    font-size: 13.5px;
}
.card-img-top{
    min-height: 120px;
    height: calc(12.42rem - 6.146vw);
    overflow: hidden;
}
/*línea de separación 1*/
#line-1{
    border-style: solid;
    border-color: gray;
    border-width: 0;
    border-bottom-width: 1px;
}
/*margen sección "¿QUIENES SOMOS?"*/
.cont-0{
    margin-left: calc(8.854vw - 0.2083rem);
    margin-right: calc(8.854vw - 0.2083rem);  
}
.ico-s1{
    font-size: 2rem;
}
.card-header,.card-footer{
    background-color: rgb(13, 193, 225);
    border-radius: 0 !important;
}
/*Estilos tarjetas sección "DESTACADOS"*/
.cdf{
    border-color: gray;
}
.cb1{
    background-color: rgb(13, 193, 225) !important;
}
.card1{
    /*max-width: 330px;*/
    margin: 10px;
    min-height: 301px;
    border-style: hidden;
    min-width: 317px; 
}
/*línea de separación 2*/
#line-2{
    border-style: solid;
    border-color: gray;
    border-width: 0;
    border-bottom-width: 1px;
}
/*línea de separación 3*/
#line-3{
    border-style: solid;
    border-color: gray;
    border-width: 0;
    border-bottom-width: 1px;
}
/*estilos formulario de contacto*/
.btn{
    background-color: rgb(13, 193, 225);
}
#exampleInputSubject{
    margin-bottom: 15px;
}
textarea{
    border-radius: 0.25rem;
}
/*estilos pie de página*/
footer{
    background-color: rgb(13, 193, 225);
    height: calc(19.17rem - 17.71vw);
    min-height: 80px;
}
#fl{
    min-width: 250px;
    font-size: 28px;
    font-weight: 300;
}
#fl-0{
    color: white;
    text-decoration: none;
}
#frss{
    min-width: 250px;
}
.fa-brands{
    text-decoration: none;
    color: white;
    font-size: calc(3.667rem - 2.083vw);
}